* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;

}

body {
    min-height: 100vh;
    margin: 0;
    padding: 24px;
    background: linear-gradient(to bottom right, #444, #111);
    color: #eee;
}

main {
    max-width: 800px;
    margin: 24px auto;
    padding: 10px;
    text-align: center;
   
}

section {
   border-radius: 8px;
   background: linear-gradient(to bottom right, #ddd, #fff);
   box-shadow: 5px 5px 10px #000;
   color: #111;
   padding: 12px;
   margin: 12px 0;
}   

fieldset {
    border: none;
   
}

label, input {
    text-align: left;
    display: block;
    margin: 8px;
    padding: 6px auto;
    width: 100%;
    max-width: 400px;
    border: none;
}   

input {
    border-bottom: 1px inset #0094cb;
}

input:focus {
    outline: 1px solid #0094cb;
}
